<h1 appHighlight>{{ "GraphQL and JWT demo" | reverse }}</h1>

<div>
  @if (isLoggedIn$ | async) {
  <button (click)="getData()">Get Data</button>
  <button (click)="logout()">LOGOUT</button>
  } @else {
  <form [formGroup]="loginForm" (submit)="login()">
    <input type="text" formControlName="username" />

    @if (loginForm.get('username')?.hasError('usernameTaken')) {
    <div>This username is already taken.</div>
    }
    <input type="password" formControlName="password" />
    <button [disabled]="loginForm.invalid">LOGIN</button>
  </form>
  }
</div>

<router-outlet />
